* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
nav,
main,
footer,
article,
aside,
section,
details {
    border: 1px;
    border-style: solid;
}
div
{
  border: 1px solid transparent;
}