/* Insert your styles here */
:root {

    --light-font: rgba(255, 255, 255, 0.75);
    --dark-font: rgba(1, 1, 1, 1);
    --poppy-dark: #9F3317;
    --poppy-light: #F21E12;
  }


  
body {
    margin: 0em;
    padding: 0em;
    width: 100vw;
    /* background-color: var(--light-green); */
    background-image: linear-gradient(#77656C, #FFCB9E);
    
    font-family: 'Sora', sans-serif;
    
}

* {
    box-sizing: border-box;
}

body header {
    background-image: url('./../../media/background-soldier.png'), url('./../../media/stars.png');
    background-position: bottom 2em right, top center ;
    background-size: 100% auto, auto auto;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, scroll;
    height: 83vh;

    padding-right: 2em;
}

section {
    padding: 3em;
}

section:not(.bg-image) {
    background-image: url('./../../media/background-soldier.png');
    background-position: bottom right;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
section:last-of-type {
    background-image: url('./../../media/background-soldier.png'), url('./../../media/sun-mobile.png');
    background-position: bottom right, bottom center ;
    background-size: 100% auto, center center;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, scroll;
}

body header{
    padding: 2em 25vw 1em 25vw;
}

body header>div:nth-child(1) {
    font-size: 14vh;
    line-height: 55px;
}
body header>div:nth-child(2) {
    font-family: 'Sora', sans-serif;
    font-size: 6vh;
}

body header h1 {
    line-height: 25vh;
    width: 3em;
    margin: 8vh auto 0em auto;
}

body nav {
    position:sticky;
    top: 0px;
    background-color: var(--dark-font);
    border-bottom: 1px solid var(--poppy-light);
}

body nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  body nav ul li {
    float: left;
  }
  
  body nav ul li a {
    display: block;
    text-align: center;
    padding: 2vh;
    text-decoration: none;
  }


body nav div {
    height: 3em;
    color: var(--light-font);
    background-color: var(--dark-font);
}



nav, section {
    font-family: 'Sora', sans-serif;
}

section {
    border-top: 1px solid var(--poppy-light);
    border-bottom: 1px solid var(--poppy-light);

}


h1, h2, h3, h4 {
    font-family: 'Dawning of a New Day', cursive;
    font-weight: normal;
    color: var(--dark-font);
}

h1 {
    font-size: 30vh;    
}

h2 {
    font-size: 20vh;
}

h3 {
    font-size: 12vh;
    margin: 0px;
    line-height: 55px;
}

section > h2 {
        margin: 0;
}




section .content h2 {
    margin: 0;
}

.flex-box {
    display: flex;
}

section > .flex-box > .menu, section > .flex-box > .content {
    padding: 2vw;
}


section .content div .visible-content {
    display: block;
}

section .content > div:not(.visible-content) {
    display: none;

}


section > .container, article > .container{
    padding: 0em 20vw 0em 10vw;

}

.places > div {
    padding: 0em 20vw 0em 20vw;
}

.places > .flex-box > div  {
    flex-grow: 1;
}



.postcard-back {
    background-image: url('./../../media/postcard.png'), url('./../../media/postcard-plain.png');
    background-position: top center, auto auto ;
    background-size: contain, auto;
    background-repeat: no-repeat, repeat;
    width: auto;
    min-height: 27em;
    padding: 12em 2em 2em 15em;
    /* font-family: 'Gloria Hallelujah', cursive; */
    margin-top: 3em;
    font-family: 'Dawning of a New Day', cursive;
    line-height: 2px;
}

.postcard-back > p {
    line-height: 30px;
    font-size: 20pt;
    font-weight: bold;
    color: #776446;
}

.bg-image {
    height: 90vh;
    width: 100vw;
    background-attachment: fixed;
    background-size: cover;
}
.bg-image-1 {
    background-image: url('./../../media/bg-poppy-morning.jpg');
}

.bg-image-2 {
    background-image: url('./../../media/bg-poppy-wall.jpg');
}

.bg-image-3 {
    background-image: url('./../../media/bg-poppy-held.jpg');
    background-position-x: right;
}

.bg-image-4 {
    background-image: url('./../../media/bg-poppy-evening.jpeg');
    background-position-x: right;
}



footer {
    color: #eeeeee;
    background-color: var(--dark-font);
    border-top: 1px solid var(--poppy-light);
    padding: 3em;
}

footer .flex-box > div {
    width: 100%;
}

footer > div {
    text-align: center;
}

footer .photo {
    background-image: url('./../../media/portrait.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

footer > .flex-box {
    margin-bottom: 3em;
}

footer .name {
    text-align: center;
}

a {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s all;
    color: var(--poppy-light);
}

a:hover {
    color: var(--poppy-dark);    
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul li {
    padding: 5px 0px
}

@media (max-width: 600px) {
    body header {
        margin-top: 2em;
        padding: 1em;
        background-image: url('./../../media/background-soldier.-mobile.png'), url('./../../media/stars.png');
        text-align: center;
    }
    section > .container, article > .container{
        padding: 1em;
    }


    section:not(.bg-image) {
        background-image: url('./../../media/background-soldier-mobile.png');
    }

    section:last-of-type {
        background-image: url('./../../media/background-soldier-mobile.png'), url('./../../media/sun.png');
    }

    .flex-box {
        flex-direction: column;
    }

    footer .photo {
        display: none;
    }

    .postcard-back {
        padding: 15em 1em 2em 1em;
    }

    h1 {
        font-size: 20vh;    
    }

    h2 {
        font-size: 15vh;
    }

    h3 {
        font-size: 9vh;
    }

    body header>div:nth-child(1) {
        font-size: 11vh;
    }

    

    section .bg-image:nth-child(2) {
        background-image: right;
    }

    section:last-of-type {
        background-image: url('./../../media/background-soldier-mobile.png'), url('./../../media/sun-mobile.png');
        background-position: bottom right, center center ;

    }
}


