/* Insert your styles here */

:root {
    --light-font: rgba(255, 255, 255, 0.75);
    --dark-font: rgba(1, 1, 1, 1);
    --poppy-dark: #9F3317;
    --poppy-light: #F21E12;
}

body {
    margin: 0em;
    padding: 0em;
    width: 100vw;
    /* background-color: var(--light-green); */
    background-image: linear-gradient(#77656C, #FFCB9E);
    font-family: 'Sora', sans-serif;
}

* {
    box-sizing: border-box;
}

body header {
    background-image: url('./../../media/background-soldier.png'), url('./../../media/stars.png');
    background-position: bottom 2em right, top center;
    background-size: 100% auto, auto auto;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, scroll;
    height: 83vh;
    padding-right: 2em;
}

div.siteMessages {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: 999;
    padding-top: 5vh;
}

div.siteMessages>div.siteMessage.opaque {
    opacity: 0;
}

div.siteMessages>div.siteMessage {
    opacity: 1;
    margin: 3vh 10vh;
    padding: 2vh;
    transition: opacity 1s;
    border-radius: 10px;
}

div.siteMessages>div.siteMessage>div>span {
    float: right;
    cursor: pointer;
}

div.siteMessages>div.siteMessage.siteMessageSuccess {
    border: 1px solid green;
    background-color: rgba(189, 237, 189, 0.95);
    color: green;
}

div.siteMessages>div.siteMessage.siteMessageFailure {
    border: 1px solid red;
    background-color: rgba(255, 216, 223, 0.95);
    color: red;
}

div.siteMessages>div.siteMessage.siteMessageWarning {
    border: 1px solid #FF6A00;
    background-color: rgba(255, 207, 178, 0.95);
    color: #FF6A00;
}

div.siteMessages>div.siteMessage.siteMessageInfo {
    border: 1px solid #003E6B;
    background-color: rgba(175, 210, 230, 0.95);
    color: #003E6B;
}

section {
    padding: 3em;
}

section:not(.bg-image) {
    background-image: url('./../../media/background-soldier.png');
    background-position: bottom right;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section:last-of-type {
    background-image: url('./../../media/background-soldier.png'), url('./../../media/sun-mobile.png');
    background-position: bottom right, bottom center;
    background-size: 100% auto, center center;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, scroll;
}

body header {
    padding: 2em 25vw 1em 25vw;
}

body header>div:nth-child(1) {
    font-size: 14vh;
    line-height: 55px;
}

body header>div:nth-child(2) {
    font-family: 'Sora', sans-serif;
    font-size: 6vh;
}

body header h1 {
    line-height: 25vh;
    width: 3em;
    margin: 8vh auto 0em auto;
}

body nav {
    position: sticky;
    top: 0px;
    background-color: var(--dark-font);
    border-bottom: 1px solid var(--poppy-light);
}

body nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body nav ul li {
    float: left;
}

body nav ul li a {
    display: block;
    text-align: center;
    padding: 2vh;
    text-decoration: none;
}

body nav div {
    height: 3em;
    color: var(--light-font);
    background-color: var(--dark-font);
}

nav,
section {
    font-family: 'Sora', sans-serif;
}

section {
    border-top: 1px solid var(--poppy-light);
    border-bottom: 1px solid var(--poppy-light);
}

h1,
h2,
h3,
h4 {
    font-family: 'Dawning of a New Day', cursive;
    font-weight: normal;
    color: var(--dark-font);
}

h1 {
    font-size: 30vh;
}

h2 {
    font-size: 20vh;
}

h3 {
    font-size: 12vh;
    margin: 0px;
    line-height: 55px;
}

section>h2 {
    margin: 0;
}

section .content h2 {
    margin: 0;
}

.flex-box {
    display: flex;
}

section>.flex-box>.menu,
section>.flex-box>.content {
    padding: 2vw;
}

section>.container,
article>.container {
    padding: 0em 20vw 0em 10vw;
}

.places>div {
    padding: 0em 20vw 0em 20vw;
}

.places>.flex-box>div {
    flex-grow: 1;
}

.letters-container {
    position: relative;
    margin-right: 14vw;
    text-align: center;
}

.letter {
    position: relative;
    margin: auto;
    margin-bottom: 3vh;
}

.letter-inner {
    position: relative;
    height: 100%;
}

.letter .letter-front {
    display: block;
    background-image: url('../../media/bg-letter-front.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: all 1s;
    padding-top: 19vh;
    color: #776446;
    font-family: 'Dawning of a New Day', cursive;
    font-size: 8vh;
}

.letter .letter-back {
    display: none;
    background-image: url('../../media/bg-letter-back.jpg');
    background-size: cover;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    transition: all 1s;
    padding: 3em;
    font-family: 'Dawning of a New Day', cursive;
    font-size: 20pt;
    line-height: 20px;
    text-align: left;
}

.postcard-container {
    position: relative;
    margin-right: 14vw;
    text-align: center;
}

.postcard {
    position: relative;
    margin: auto;
    margin-bottom: 3vh;
}

.postcard-inner {
    position: relative;
    height: 100%;
    width: 100%;
}

.postcard .postcard-front {
    display: block;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: all 1s;
    padding-top: 21vh;
    color: #776446;
    font-family: 'Dawning of a New Day', cursive;
    font-size: 8vh;
    text-align: center;
    background-size: 100% 100%;
}

.postcard .postcard-back {
    display: none;
    background-image: url('./../../media/postcard.png');
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    transition: all 1s;
    padding: 25vh 1vw 1vh 12vw;
    font-family: 'Dawning of a New Day', cursive;
    font-size: 20pt;
    line-height: 20px;
}

.bg-image {
    height: 90vh;
    width: 100vw;
    background-attachment: fixed;
    background-size: cover;
}

.bg-image-1 {
    background-image: url('./../../media/bg-poppy-morning.jpg');
}

.bg-image-2 {
    background-image: url('./../../media/bg-poppy-wall.jpg');
}

.bg-image-3 {
    background-image: url('./../../media/bg-poppy-held.jpg');
    background-position-x: right;
}

.bg-image-4 {
    background-image: url('./../../media/bg-poppy-evening.jpeg');
    background-position-x: right;
}

.bg-image-5 {
    background-image: url('./../../media/bg-poppy-cross.jpg');
    background-position-x: right;
}

.contact .contact-grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1vh;
}

.contact .contact-grid label {
    place-self: start end;
    margin-right: 3vw;
    margin-top: 2vh;
}

.contact .contact-grid input,
textarea {
    border-radius: 8px;
    padding: 2vh;
    border: 1px solid gray;
    width: 100%;
}

.contact input[type="checkbox"] {
    transform: scale(1.5);
    cursor: pointer;
    width: auto;
}

.contact form legend,
.contact form fieldset {
    padding-inline-start: 3vh;
    text-align: left;
    padding-inline-end: 3vh;
    border-color: grey;
    border-radius: 8px;
}

.contact input[type="Submit"] {
    padding: 2vh 4vh;
    margin-top: 3vh;
}

.contact input+div,
.contact textarea+div {
    display: none;
    color: red;
    font-weight: normal;
}

.contact input.invalid,
.contact textarea.invalid {
    border: 2px solid red;
    background-color: #FFD8D6;
}

.contact input.invalid+div,
.contact textarea.invalid+div {
    display: block;
}

.contact .content {
    padding: 0em 20vw 0em 10vw;
    text-align: center;
}

.contact form input[type="button"] {
    width: 55%;
    height: 3em;
    margin-top: 1em;
    border-radius: 10px;
    border: 1px solid #333;
    cursor: pointer;
}

footer {
    color: #eeeeee;
    background-color: var(--dark-font);
    border-top: 1px solid var(--poppy-light);
    padding: 3em;
}

footer .flex-box>div {
    width: 100%;
}

footer>div {
    text-align: center;
}

footer .photo {
    background-image: url('./../../media/portrait.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

footer>.flex-box {
    margin-bottom: 3em;
}

footer .name {
    text-align: center;
}

a {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s all;
    color: var(--poppy-light);
}

a:hover {
    color: var(--poppy-dark);
}

.siteMessage ul {
    list-style-type: circle;
    padding: 2em;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul li {
    padding: 5px 0px
}

span.required-field {
    color: red;
}

@media (max-width: 600px) {
    body header {
        margin-top: 2em;
        padding: 1em;
        background-image: url('./../../media/background-soldier.-mobile.png'), url('./../../media/stars.png');
        text-align: center;
    }
    section>.container,
    article>.container {
        padding: 1em;
    }
    section:not(.bg-image) {
        background-image: url('./../../media/background-soldier-mobile.png');
    }
    section:last-of-type {
        background-image: url('./../../media/background-soldier-mobile.png'), url('./../../media/sun.png');
    }
    .flex-box {
        flex-direction: column;
    }
    footer .photo {
        display: none;
    }
    .postcard-back {
        padding: 15em 1em 2em 1em;
    }
    h1 {
        font-size: 20vh;
    }
    h2 {
        font-size: 15vh;
    }
    h3 {
        font-size: 9vh;
    }
    body header>div:nth-child(1) {
        font-size: 11vh;
    }
    section .bg-image:nth-child(2) {
        background-image: right;
    }
    section:last-of-type {
        background-image: url('./../../media/background-soldier-mobile.png'), url('./../../media/sun-mobile.png');
        background-position: bottom right, center center;
    }
    .contact .contact-grid {
        grid-template-columns: auto;
    }
    .contact .contact-grid label {
        place-self: start start;
    }
}